body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u22983 {
  position:absolute;
  left:49px;
  top:451px;
  width:71px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u22984 {
  position:absolute;
  left:0px;
  top:5px;
  width:73px;
  white-space:nowrap;
}
#u22985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u22987 {
  position:absolute;
  left:120px;
  top:483px;
  width:268px;
  height:105px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u22988 {
  position:absolute;
  left:8px;
  top:44px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:34px;
}
#u22989 {
  position:absolute;
  left:119px;
  top:519px;
  width:268px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u22990 {
  position:absolute;
  left:26px;
  top:6px;
  width:226px;
  word-wrap:break-word;
}
#u22989_ann {
  position:absolute;
  left:380px;
  top:515px;
  width:1px;
  height:1px;
}
#u22991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u22991 {
  position:absolute;
  left:120px;
  top:483px;
  width:267px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u22992 {
  position:absolute;
  left:26px;
  top:7px;
  width:225px;
  word-wrap:break-word;
}
#u22993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u22993 {
  position:absolute;
  left:120px;
  top:552px;
  width:267px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22994 {
  position:absolute;
  left:26px;
  top:7px;
  width:225px;
  word-wrap:break-word;
}
#u22995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
  line-height:22px;
}
#u22996 {
  position:absolute;
  left:120px;
  top:451px;
  width:189px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
  line-height:22px;
}
#u22997 {
  position:absolute;
  left:12px;
  top:8px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22996_ann {
  position:absolute;
  left:302px;
  top:447px;
  width:1px;
  height:1px;
}
#u22998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u22999 {
  position:absolute;
  left:286px;
  top:461px;
  width:14px;
  height:9px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23000 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u23001 {
  position:absolute;
  left:298px;
  top:463px;
  width:9px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u23002 {
  position:absolute;
  left:2px;
  top:1px;
  width:5px;
  word-wrap:break-word;
}
#u23003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u23004 {
  position:absolute;
  left:124px;
  top:454px;
  width:86px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u23005 {
  position:absolute;
  left:8px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u23006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u23006 {
  position:absolute;
  left:194px;
  top:463px;
  width:8px;
  height:8px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u23007 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u23008 {
  position:absolute;
  left:216px;
  top:454px;
  width:58px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u23009 {
  position:absolute;
  left:8px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u23010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
}
#u23010 {
  position:absolute;
  left:355px;
  top:521px;
  width:33px;
  height:29px;
}
#u23011 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23015 {
  position:absolute;
  left:128px;
  top:125px;
  width:141px;
  height:98px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u23016 {
  position:absolute;
  left:8px;
  top:41px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u23017 {
  position:absolute;
  left:128px;
  top:126px;
  width:141px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u23018 {
  position:absolute;
  left:12px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u23019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u23019 {
  position:absolute;
  left:128px;
  top:159px;
  width:141px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u23020 {
  position:absolute;
  left:12px;
  top:5px;
  width:113px;
  word-wrap:break-word;
}
#u23021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u23021 {
  position:absolute;
  left:128px;
  top:191px;
  width:141px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u23022 {
  position:absolute;
  left:12px;
  top:5px;
  width:113px;
  word-wrap:break-word;
}
#u23023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u23024 {
  position:absolute;
  left:128px;
  top:93px;
  width:141px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u23025 {
  position:absolute;
  left:12px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u23024_ann {
  position:absolute;
  left:262px;
  top:89px;
  width:1px;
  height:1px;
}
#u23026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u23027 {
  position:absolute;
  left:255px;
  top:105px;
  width:14px;
  height:7px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23028 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u23029 {
  position:absolute;
  left:262px;
  top:105px;
  width:7px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u23030 {
  position:absolute;
  left:2px;
  top:1px;
  width:3px;
  word-wrap:break-word;
}
#u23031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
}
#u23031 {
  position:absolute;
  left:43px;
  top:93px;
  width:86px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u23032 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u23033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u23035 {
  position:absolute;
  left:93px;
  top:819px;
  width:225px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u23036 {
  position:absolute;
  left:12px;
  top:5px;
  width:213px;
  word-wrap:break-word;
}
#u23035_ann {
  position:absolute;
  left:311px;
  top:815px;
  width:1px;
  height:1px;
}
#u23037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:32px;
}
#u23037 {
  position:absolute;
  left:49px;
  top:819px;
  width:67px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u23038 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u23039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(216, 0, 15, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u23041 {
  position:absolute;
  left:328px;
  top:818px;
  width:61px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u23042 {
  position:absolute;
  left:16px;
  top:5px;
  width:30px;
  white-space:nowrap;
}
#u23043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:32px;
}
#u23044 {
  position:absolute;
  left:49px;
  top:880px;
  width:67px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u23045 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u23046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u23049 {
  position:absolute;
  left:93px;
  top:880px;
  width:296px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u23050 {
  position:absolute;
  left:12px;
  top:5px;
  width:284px;
  word-wrap:break-word;
}
#u23049_ann {
  position:absolute;
  left:382px;
  top:876px;
  width:1px;
  height:1px;
}
#u23051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u23051 {
  position:absolute;
  left:366px;
  top:889px;
  width:14px;
  height:14px;
  opacity:0.43;
  color:#666666;
}
#u23052 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 251, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 229, 143, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u23054 {
  position:absolute;
  left:43px;
  top:28px;
  width:477px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u23055 {
  position:absolute;
  left:40px;
  top:5px;
  width:421px;
  word-wrap:break-word;
}
#u23056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u23056 {
  position:absolute;
  left:500px;
  top:40px;
  width:9px;
  height:9px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u23057 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u23058 {
  position:absolute;
  left:59px;
  top:37px;
  width:14px;
  height:14px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFBF00;
}
#u23059 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 251, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 229, 143, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u23061 {
  position:absolute;
  left:43px;
  top:394px;
  width:477px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u23062 {
  position:absolute;
  left:40px;
  top:5px;
  width:421px;
  word-wrap:break-word;
}
#u23063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u23063 {
  position:absolute;
  left:500px;
  top:406px;
  width:9px;
  height:9px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u23064 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u23065 {
  position:absolute;
  left:59px;
  top:403px;
  width:14px;
  height:14px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFBF00;
}
#u23066 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 251, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 229, 143, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u23068 {
  position:absolute;
  left:43px;
  top:757px;
  width:477px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u23069 {
  position:absolute;
  left:40px;
  top:8px;
  width:421px;
  word-wrap:break-word;
}
#u23070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u23070 {
  position:absolute;
  left:500px;
  top:769px;
  width:9px;
  height:9px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u23071 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u23072 {
  position:absolute;
  left:59px;
  top:766px;
  width:14px;
  height:14px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFBF00;
}
#u23073 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
