body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:373px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
  background:inherit;
  background-color:rgba(216, 0, 15, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23007 {
  position:absolute;
  left:196px;
  top:81px;
  width:75px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23008 {
  position:absolute;
  left:16px;
  top:8px;
  width:44px;
  white-space:nowrap;
}
#u23007_ann {
  position:absolute;
  left:264px;
  top:77px;
  width:1px;
  height:1px;
}
#u23009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u23009 {
  position:absolute;
  left:91px;
  top:81px;
  width:75px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u23010 {
  position:absolute;
  left:16px;
  top:-5px;
  width:43px;
  word-wrap:break-word;
}
#u23009_ann {
  position:absolute;
  left:159px;
  top:77px;
  width:1px;
  height:1px;
}
#u23011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
  background:inherit;
  background-color:rgba(216, 0, 15, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u23011 {
  position:absolute;
  left:91px;
  top:144px;
  width:86px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u23012 {
  position:absolute;
  left:16px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u23011_ann {
  position:absolute;
  left:170px;
  top:140px;
  width:1px;
  height:1px;
}
#u23013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(216, 0, 15, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23013 {
  position:absolute;
  left:91px;
  top:215px;
  width:61px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23014 {
  position:absolute;
  left:16px;
  top:8px;
  width:30px;
  white-space:nowrap;
}
#u23013_ann {
  position:absolute;
  left:145px;
  top:211px;
  width:1px;
  height:1px;
}
#u23015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u23015 {
  position:absolute;
  left:298px;
  top:81px;
  width:75px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u23016 {
  position:absolute;
  left:16px;
  top:-5px;
  width:43px;
  word-wrap:break-word;
}
#u23015_ann {
  position:absolute;
  left:366px;
  top:77px;
  width:1px;
  height:1px;
}
