body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:373px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
  background:inherit;
  background-color:rgba(216, 0, 15, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22971 {
  position:absolute;
  left:196px;
  top:81px;
  width:75px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22972 {
  position:absolute;
  left:16px;
  top:8px;
  width:44px;
  white-space:nowrap;
}
#u22971_ann {
  position:absolute;
  left:264px;
  top:77px;
  width:1px;
  height:1px;
}
#u22973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u22973 {
  position:absolute;
  left:91px;
  top:81px;
  width:75px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u22974 {
  position:absolute;
  left:16px;
  top:-5px;
  width:43px;
  word-wrap:break-word;
}
#u22973_ann {
  position:absolute;
  left:159px;
  top:77px;
  width:1px;
  height:1px;
}
#u22975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
  background:inherit;
  background-color:rgba(216, 0, 15, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u22975 {
  position:absolute;
  left:91px;
  top:144px;
  width:86px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u22976 {
  position:absolute;
  left:16px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u22975_ann {
  position:absolute;
  left:170px;
  top:140px;
  width:1px;
  height:1px;
}
#u22977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(216, 0, 15, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22977 {
  position:absolute;
  left:91px;
  top:215px;
  width:61px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22978 {
  position:absolute;
  left:16px;
  top:8px;
  width:30px;
  white-space:nowrap;
}
#u22977_ann {
  position:absolute;
  left:145px;
  top:211px;
  width:1px;
  height:1px;
}
#u22979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u22979 {
  position:absolute;
  left:298px;
  top:81px;
  width:75px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u22980 {
  position:absolute;
  left:16px;
  top:-5px;
  width:43px;
  word-wrap:break-word;
}
#u22979_ann {
  position:absolute;
  left:366px;
  top:77px;
  width:1px;
  height:1px;
}
